* {
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background: rgb(79, 79, 79);
  margin: 0;
}

/* took some styling inspiration from a previous module */
button {
  background: green;
  border-radius: 8px;
  color: #dadada;
  cursor: pointer;
  font-size: 36px;
  line-height: 16px;
  padding: 20px 45px;
  text-align: center;
}

header {
  padding: 40px;
  text-align: center;
  color: #000000;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

aside h3 {
  text-align: center;
}

section {
  flex: 0 auto;
  padding: 8px;
  margin-top: 50px;
  background-color: white;
  border-radius: 8px;
}

#qaButtons {
  background-color: aquamarine;
  color: #000000;
}
.large-font {
  font-size: 48px;
  text-align: center;
}
.paraBox {
  background: #dadada;
  font-size: larger;
  color: #000000;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
